.enlighten-clear {
  clear: both;
}
.enlighten-root {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
}
.enlighten-box {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
}
.enlighten-img-wrapper {
  background-color: #333;
  text-align: center;
}
.enlighten-img {
  vertical-align: top;
}
.enlighten-header {
  padding: 0 20px;
}
.enlighten-header > .enlighten-title, .enlighten-body > .enlighten-content {
  word-wrap: break-word;
  color: #444;
}
.enlighten-body {
  padding: 0 20px 20px 20px;
}
.enlighten-body {
  font-size: 20px;
}
.enlighten-footer {
  padding: 0 20px 10px 20px;
  text-align: center;
  height: 50px;
  position: relative;
}
.enlighten-close-btn {
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #333;
  transition: background-color 0.25s, color 0.25s;
  position: absolute;
  animation-name: rotate-counterclockwise;
  animation-duration: 0.25s;
}
.enlighten-close-btn:hover {
  background-color: #555;
  transition: background-color 0.25s, color 0.25s;
  animation-name: rotate-clockwise;
  animation-duration: 0.25s;
}
.enlighten-confirm-btn, .enlighten-cancel-btn {
  position: absolute;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 14px;
  left: 50%;
  transition: border-bottom-width 0.25s, margin-top 0.25s;
}
.enlighten-confirm-btn {
  background-color: hsl(120, 90%, 50%);
  border-bottom: 5px solid hsl(120, 90%, 40%);
}
.enlighten-confirm-btn:hover {
  border-bottom-width: 2px;
  margin-top: 3px;
  transition: border-bottom-width 0.25s, margin-top 0.25s;
}
.enlighten-cancel-btn {
  background-color: hsl(360, 90%, 50%);
  border-bottom: 5px solid hsl(360, 90%, 40%);
}
.enlighten-cancel-btn:hover {
  border-bottom-width: 2px;
  margin-top: 3px;
  transition: border-bottom-width 0.25s, margin-top 0.25s;
}
@keyframes rotate-counterclockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes rotate-clockwise {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}